h1, h2, h3, h4, p, ul, a, input, label, button{
	font-family: 'Quicksand', serif !important;
}
html{
	overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
#appname{
	color: #00a79d;
}
/* jquery 3 hack fix */
.bootstrap-datetimepicker-widget {
  display: block;
}

/* IMG */
img[src=""] {
    display: none;
}

/* IMG END *

/* FOOTER */
.footer {
   /*background-color: #33a0aa;*/
	 background-color: #f5f8fa;
   line-height: 20px;
	 /*color: black;*/
	 padding: 80px 0 50px;
 	 margin-bottom: -30px;
}
.footer-section{
	width: 100%;
}
.colstyle{
	margin-left: 45px;
}
.footer-col a{
	padding-left: 5px;
}
.footer-bottom .foot-social{
	text-align: right;
}
.footer-bottom .navi ul {
    text-align: center;
    line-height: normal;
}
.footer li {
    margin-bottom: 6px;
    line-height: 25px;
    /*color: #fff;*/
}
.navi >ul >li {
    position: relative;
    display: inline-block;
    float: left;
    list-style: none;
    overflow: hidden;
}
.footer a, .footer-bottom .navi a, .footer-bottom .foot-social p a {
    /*color: #FFFFFF;*/
}
.footer-bottom .navi li {
		padding-right: 20px;
    margin: 0;
    font-weight: 400;
    text-transform: inherit;
    text-align: center;
}
.navi ul {
  line-height: inherit;
  margin: 0;
  font-weight: 400;
  text-transform: inherit;
  text-align: inherit;
}
.footer-bottom{
	/*background-color: #33a0aa;*/
	/*border-top: 1px solid #33a0aa;*/
	width: 100%;
	line-height: 20px;
	padding: 30px 0;
	/*color: white;*/
}
/* FOOTER END */

/* NAV BAR */
.navbar{
  margin-bottom: inherit;
  border: none;
	background-color: #fff;
}
.nav>li>a{
	color: #9d9d9d;
	margin-right: 30px;
	font-weight: 500;
}
.navbar-default .navbar-brand{
	font-weight: bold;
	font-size: 22px;
}

.navbar-inverse{
  background-color: #f9fbfc;
}

/*.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{

}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #33a0aa;
}*/

/*.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color: black;
}*/
/* NAV BAR END */


/* modal */

.modal-backdrop{
  z-index: 900;
}

.modal-open .modal{
  overflow-y: scroll !important;
}
/* MODAL END */

/* Btns */

.btn-group-lg>.btn, .btn-lg{
	margin-top: 2px;
  margin-right: 10px;
  font-weight: 500;
}

/*#reg-btn{
	color: white;
}
#login-btn{
	color: white;
}*/
.btn-info{
	color: white;
	border-color: #777;
}

/* BTNS END */
/* Pages */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* End Pages */
/* property */
#property-listings{
	height: 835px;
}
/* PROPERTY END */

/* splash section */
.splash-title{
	text-align: center;
	color: white;
	position: relative;
	top: 200px;
}
#listings-row{
	margin-right: -28px;
}
#listings-row .filter-panel{
	width: 850px;
	margin: auto;
}
.filter-panel{
	text-align: center;
}
#filter-panel-home{
	position: relative;
	width: 85%;
	top: 40%;
}
#home-container div {
    margin: 0 auto;
}
.splash-section .splash-inner-content{
	position: relative;
	z-index: 3;
}
.splash-section .splash-inner-media {
	opacity: 0.6;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 800px;*/
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%!important;
  z-index: 1;
}
.splash-section #front-page-media{
		background-image: url(/images/living-7.jpg);
}
.splash-section #about-media{
		background-image: url(/images/dining-6-min.jpg);
}
.splash-section #blogs-media{
		background-image: url(/images/living-2-min.jpg);
}
.splash-section #home-owners-media{
		background-image: url(/images/living-3-min.jpg);
}
.splash-section #home-buyers-media{
		background-image: url(/images/living-2-min.jpg);
}
.splash-section #services-media{
		background-image: url(/images/dining-6-min.jpg);
}
.splash-section{
	background: #000;
	position: relative;
  width: 100%;
	/*animation:fading 3s ease-in;
	-webkit-animation:fading 3s ease-in;
	*/
}
/* SPLASH END */

/* map */
#showmap .gm-iv-address{
	height: 55px;
}
#map{
	height: 880px;
	width: 900px;
}
#moveloc #autocomplete{
	background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
/* MAP END */


/* Animation */

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/*@-webkit-keyframes fading{
 0%{opacity:0}
 50%{opacity:0.5}
 100%{opacity:1}
}
@keyframes fading{
 0%{opacity:0}
 50%{opacity:0.5}
 100%{opacity:1}
}*/

/* ANIMATION END */

/* NAV SIDE BAR */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  /*position: fixed;*/
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* END NAV SIDE BAR */

*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 60px 0 0 0%;
	text-align:center;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  /*width: 60px;*/
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
	/*
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
	*/
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.entry-content{
	background-color: white;
	padding: 30px;
}
/* Mobile */
@media only screen
and (min-width: 300px)
and (max-width: 767px){
	#map{
		width: 100%;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	#map-fix{
		position: relative !important;
		top: initial !important;
		left: 0px !important;
	}
	#prop-fix{
		position: initial !important;
	}
	#property-listings{
		position: relative;
		left: 0px;
	}
	.splash-title{
			top: initial !important;
	}
	#listings-row .filter-panel{
		width: 100%;
	}
	#listings-row{
		margin-right: initial !important;
	}
	#moveloc #autocomplete{
			margin-left: initial;
			width: initial;
	}
	#filter-panel-home{
			top: initial !important;
	}
	.panel-default .img-rounded{
		margin-top: 20px !important;
		width: 50% !important;
	}
	.navbar-nav{
		margin: 7px -15px !important;

	}
}
@media only screen
and (min-width: 768px)
and (max-width: 849px){
	#map{
		height: 450px;
		width: 400px;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	#moveloc #autocomplete{
			margin-left: initial;
			width: initial;
	}
	#prop-fix{
		margin-right: -10px;
	}
	#map-fix{

	}
	#listings-row #filter-panel{
		width: initial;
	}
}
@media only screen
and (min-width: 850px)
and (max-width: 950px){
	#map{
		height: 522px;
		width: 400px;
	}
	#listings-row #filter-panel{
		width: initial;
	}
	#moveloc #autocomplete{
			margin-left: initial;
			width: initial;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	.navbar-right{
		position: absolute;
		right: 50px;
	}
	.navbar-nav{
		margin-left: 50px !important;
	}
	.navbar-brand{
		margin-left: -50px !important;
	}
}
@media only screen
and (min-width: 951px)
and (max-width: 1100px){
	#map{
		height: 522px;
		width: 480px;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	#listings-row #filter-panel{
		width: initial;
	}
	#moveloc #autocomplete{
			margin-left: initial;
			width: initial;
	}
}
@media only screen
and (min-width: 1101px)
and (max-width: 1400px){
	#map{
		height: 522px;
		width: 550px;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	#listings-row #filter-panel{
		width: initial;
	}
	#moveloc #autocomplete{
			margin-left: initial;
			width: initial;
	}
}

@media only screen
and (min-width: 1405px)
and (max-width: 1750px){
	#map{
		height: 900px;
		width: 750px;
	}
	#showmap{
		width: 100% !important;
	}
	.fotorama{
		width: 100% !important;
	}
	.fotorama img{
		width: 100% !important;
	}
	#listings-row #filter-panel{
		width: initial;
	}
}

/* MOBILE END */
